<% layout('layouts/boilerplate') %>

    <div class="container ">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.name %>
                    </h5>
                    <h3 class="card-text">
                        &#8377;<%= product.price %>
                    </h3>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                    <div class="d-flex justify-content-between">
                        <a href="/products/<%= product._id %>/edit">
                            <button class="btn btn-info">Edit</button>
                        </a>
                        <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>